.main{
    flex: 1;
    min-height: 100vh;
    position: relative;
    padding-bottom: 15px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #585858;
}

.nav img{
    width: 40px;
    border-radius: 100%;
}

.main-container{
    margin: auto;
    max-width: 900px;
}

.greet{
    margin: 50px 0px;
    font-size: 56px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 20px;
}

.greet span{
    background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    padding: 20px;
}

.card{
    background-color: #f0f4f9;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    height: 200px;
    padding: 15px;
}

.card img{
    width: 40px;
    padding: 3px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.card p{
    color: #585858;
    font-size: 17px;
}

.card:hover{
    background-color: #dfe4ea;
}